// Imports

@import 'grid.scss';
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background: #E6E8EC;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 0 45% ;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
}

ul, ol{
  padding: 0px;
  margin: 0px;
  li{
    list-style: none;
  }
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #fff;
}

.App{
  position: relative;
  aside{
    padding: 20px;
    background: #333;
    height: 100vh;
    width: 300px;
    overflow: hidden;
    float: left;
    display: inline;
    h3{
      margin: 0px;
    }
  }
  main{
    float: left;
    width: calc( 100% - 300px );
    overflow: hidden;
    background: #fff;
    height: 100vh;
    display: inline;
    position: relative;
    padding-bottom: 80px;
    #messages{
      padding: 20px;
      height: 100%;
      overflow: auto;
      time{
        margin-right: 5px;
        color: #999;
        font-size: 14px;
      }
    }
  }
  footer{
    background: #E6E8EC;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ccc;
    height: 80px;
    overflow: hidden;
    form{
      position: relative;
      input[type="text"]{
        width: 100%;
        padding: 10px;
        box-shadow: none;
        &:focus, &:active{ box-shadow: none; outline: none; }
      }
      button[type="submit"]{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        border: none;
        background: #333;
        color: #fff;
      }
    }
  }

}

.message{
  &.broadcast{
    color: red;
    font-weight: bold;
    font-style: italic;
  }
}
